<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    
    <title>Motion Sensor Data</title>
    
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </head>

    <body onload="go()">
	<center>
		<div id="table"></div>
    		<div id="curve_chart" style="width: 1200px; height: 1200px"></div>
    	</center>
      <script type ='text/javascript'>
		google.charts.load('current', { packages: ['corechart'] });

	var chartData = [];

        function go()
        {
          goTime = new Date();
          console.log('Start ' + goTime);
          getData();
          setInterval(function()
          {
  		xTime = new Date();
  		console.clear();
  		console.log('Update Initiated: '+xTime);
  		getData();
		}, 60000);
          }

        function getData()
        {
          chartData = [];
          $.getJSON('/sqlData', function(chartJSON)
          {
            for(i = 0; i < chartJSON.length; i++)
            {
              chartData.push([new Date(chartJSON[i].Time), chartJSON[i].Direction, chartJSON[i].Count]);
             };
	     drawChart();
            
          });
        }

        function drawChart()
        {
          var obtData = new google.visualization.DataTable();
          obtData.addColumn('date', 'Time');
          obtData.addColumn('number', 'Count');
	  for(i=0; i < chartData.length; i++)
	  {
                obtData.addRow([chartData[i][0], chartData[i][2]])
            }

          var options = {
            title: 'Motion Log',
	    curveType: 'function',
	    legend: { position: 'bottom' }
          };
            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
	    chart.draw(obtData, options);
	    chartTime = new Date();
        }

       		</script>
	</body>
</html>
